@using AspnetCoreMvcFull.Models.ViewModels
@{
    ViewData["Title"] = "branch Registration";
    ViewData["isNavbar"] = false;
    ViewData["navbarType"] = "layout-navbar-hidden";
}

@section PageScripts {
    <script src="~/js/form-basic-inputs.js"></script>
}

@model CatagoryViewModel

<a asp-action="view" asp-controller="catagory" style="float: right" class="btn btn-secondary mb-3">View Categories</a>
<h1>Add catagory</h1>

<form method="post" asp-action="Create" asp-controller="catagory" id="watchForm">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div>
                    <label for="branchNameInput" class="form-label">catagory</label>
                    <input type="text" class="form-control" asp-for="cata" id="CatagoryInput"/>
                    <span asp-validation-for="cata" class="text-danger"></span>

                    <label for="descrInput" class="form-label mt-3">Description</label>
                    <input type="text" class="form-control" asp-for="descr" id="descrInput" />
                    <span asp-validation-for="descr" class="text-danger"></span>

                    <div class="mt-3">
                        <button type="submit" class="btn btn-success">Save</button>
                        <a asp-action="Create" asp-controller="catagory" style="margin-left:10px" class="btn btn-secondary">Clear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    // Clear form fields function
    function clearForm() {
        document.getElementById("watchForm").reset();
    }
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
