@using AspnetCoreMvcFull.Models.ViewModels
@{
    ViewData["Title"] = "watch registration";
    ViewData["isNavbar"] = false;
    ViewData["navbarType"] = "layout-navbar-hidden";
}
@section PageScripts {
    <script src="~/js/form-basic-inputs.js"></script>
}
@model watchtViewModel
<h1>Register Watch Info</h1>
<form method="post" asp-action="Edit" asp-controller="watch">

    <div class="col-12">
        <div class="card">
            <h5 class="card-header">Default</h5>
            <div class="card-body">
                <div>
                    <label for="defaultFormControlInput" class="form-label">Watch</label>
                    <input type="text" class="form-control" asp-for="watchname" id="defaultFormControlInput" placeholder="Watch Name" aria-describedby="defaultFormControlHelp" />
                    <span asp-validation-for="watchname" class="text-danger"></span>
                    <label for="defaultFormControlInput" class="form-label">Describtion</label>
                    <input type="text" class="form-control" asp-for="descr" id="defaultFormControlInput" placeholder="describtion" aria-describedby="defaultFormControlHelp" />
                    <div class="mt-2">
                        <button type="submit" style="float:left" class="btn btn-success">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
