@using AspnetCoreMvcFull.Models.Entities
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model watch
<h1>Update The Watch Info</h1>
<form method="post" asp-action="Edit" asp-controller="watch">

    <input type="hidden" class="form-control" asp-for="Id" />

    <div class="mt-2">
        <label>Watch Name</label>
        <input type="text" class="form-control" asp-for="watchname" />
        <span asp-validation-for="watchname" class="text-danger"></span>
    </div>
    <div class="mt-2">
        <label>Describtion</label>
        <input type="text" class="form-control" asp-for="descr" />
    </div>
    <div class="mt-2">
        <button type="submit" style="float:right" class="btn btn-success">Update</button>
    </div>
</form>
