@using AspnetCoreMvcFull.Models.ViewModels
@{
    ViewData["Title"] = "branch Registration";
    ViewData["isNavbar"] = false;
    ViewData["navbarType"] = "layout-navbar-hidden";
}

@section PageScripts {
    <script src="~/js/form-basic-inputs.js"></script>
}

@model branchViewModel

<a asp-action="view" asp-controller="branch" style="float: right" class="btn btn-secondary mb-3">View Watches</a>
<h1>Register branch Info</h1>

<form method="post" asp-action="Create" asp-controller="branch" id="watchForm">
    <div class="col-12">
        <div class="card">
            <h5 class="card-header">Default</h5>
            <div class="card-body">
                <div>
                    <label for="watchNameInput" class="form-label">Branch</label>
                    <input type="text" class="form-control" asp-for="branchname" id="watchNameInput" placeholder="Watch Name" />
                    <span asp-validation-for="branchname" class="text-danger"></span>

                    <label for="descrInput" class="form-label mt-3">Description</label>
                    <input type="text" class="form-control" asp-for="descr" id="descrInput" placeholder="Description" />
                    <span asp-validation-for="descr" class="text-danger"></span>

                    <div class="mt-3">
                        <button type="submit" class="btn btn-success">Save</button>
                        <button type="button" class="btn btn-secondary ml-2" onclick="clearForm()">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    // Clear form fields function
    function clearForm() {
        document.getElementById("watchForm").reset();
    }
</script>
