@using AspnetCoreMvcFull.Models.Entities
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model branch
<h1>Welcom to Tabaarak worshop 2024</h1>
<form method="post" asp-action="Edit" asp-controller="branch">

    <input type="hidden" class="form-control" asp-for="Id" />

    <div class="mt-2">
        <label>Subject</label>
        <input type="text" class="form-control" asp-for="branchname" />
        <span asp-validation-for="branchname" class="text-danger"></span>
    </div>
    <div class="mt-2">
        <label>Remark</label>
        <input type="text" class="form-control" asp-for="descr" />
    </div>
    <div class="mt-2">
        <button type="submit" style="float:right" class="btn btn-success">Update</button>
    </div>
</form>
